
<ion-view title="First time setup">

  <ion-header-bar>
    <h1 class="title">Basic information</h1>
  </ion-header-bar>
  <ion-content>

    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">First Name</span>
        <input ng-model="user.firstName" type="text" placeholder="First Name">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Last Name</span>
        <input ng-model="user.lastName" type="text" placeholder="Last Name">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Birthday</span>
        <input ng-model="user.birthday" type="date" placeholder="birthday" ng-model-options="{timezone:'UTC'}">
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Gender
        </div>
        <select ng-model="user.gender">
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="other">Other</option>
        </select>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Address</span>
        <input ng-model="user.address" type="text" placeholder="address">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Phone</span>
        <input ng-model="user.phone" placeholder="Phone number" type="tel"/>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input ng-model="user.email" type="email" placeholder="email">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Password</span>
        <input ng-model="user.password" type="password" placeholder="password">
      </label>
      
    </div>

  </ion-content>
</ion-view>
