<ion-view title="Available times">
  <ion-header-bar>
    <h1 class="title">Select your free times</h1>
  </ion-header-bar>
  <ion-content  class="has-footer has-header">
    <div class="card" ng-repeat="item in freeTimes">
      <div class="item item-divider">
        Available time
          <button class="button button-small button-icon icon ion-minus pull-right" ng-click="removeItem(item)"></button>
      </div>

      <label class="item item-input">
        <span class="input-label">Days of week</span>
        <input ng-model="item.daysOWStr" type="text" ng-focus="selectDaysOW(item)">
      </label>
      <label class="item item-input">
        <span class="input-label">Time</span>
        <input ng-model="item.time" type="time" ng-model-options="{updateOn:'blur',timezone: 'UTC'}">
      </label>
      <label class="item item-input">
        <span class="input-label">Duration (hrs)</span>
        <input ng-model="item.duration" type="number" ng-modal-options="{updateOn:'blur'}">
      </label>
    </div>
      <div class="card list">
          <a class="item text-center" href="javascript:void(0);" ng-click="addItem();"><i class="icon ion-plus"></i></a>
      </div>
  </ion-content>
    <div class="bar bar-footer">
        <button class="button button-positive button-clear pull-left" ng-cloak ng-click="back()" ng-show="canGoBack">Back</button>
        <button class="button button-positive button-clear pull-right" ng-cloak ng-click="save()" ng-show="isLastStep">Save</button>
        <button class="button button-positive button-clear pull-right" ng-cloak ng-click="next()" ng-show="canGoNext && !isLastStep">Next</button>
    </div>
</ion-view>
