<ion-view view-title="Add friend">
  <ion-pane id="add_friend">
    <div class="qr-code vertical-center">
      <img src="http://api.qrserver.com/v1/create-qr-code/?color=000000&bgcolor=FFFFFF&data=BEGIN%3AVCARD%0AVERSION%3A2.1%0AFN%3AHo+Nguyen%0AN%3ANguyen%3BHo%0ATITLE%3AMr.%0ATEL%3BCELL%3A%2B84943225081%0ATEL%3BWORK%3BVOICE%3A%2B84943225081%0ATEL%3BHOME%3BVOICE%3A%2B84943225081%0AEMAIL%3BHOME%3BINTERNET%3Ahaiho1992%40gmail.com%0AEMAIL%3BWORK%3BINTERNET%3Ahaiho1992%40gmail.com%0AURL%3Ahttp%3A%2F%2Fhonguyen.me%0AADR%3A%3B%3B2%2F142+Thi%C3%AAn+Ph%C6%B0%E1%BB%9Bc%2C+P.9%2C+Q.+T%C3%A2n+B%C3%ACnh%3BH%E1%BB%93+Ch%C3%AD+Minh%3B%3B%3BVietnam%0AORG%3ASoftersource%0AEND%3AVCARD%0A&qzone=1&margin=0&size=400x400&ecc=L" alt="QR">
    </div>
  </ion-pane>
</ion-view>
